1. importando bibliotecas

In [157]:
#importando bibliotecas
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sn
from pandas import DataFrame, read_csv,read_excel
import datetime 
import datetime as dt
from datetime import date, datetime, timedelta
import scipy.interpolate
from pandas.tseries.offsets import CustomBusinessDay

In [158]:
data_ref='20-04-2023'
data_r=datetime.strptime(data_ref,'%d-%m-%Y')
print(data_r)

2023-04-20 00:00:00

In [159]:
#exportar em formato xls
base_passivo=pd.read_excel('passivo_banco.xls')
#base_passivo.read().decode('UTF8', 'replace')

In [160]:
di_pre=pd.read_excel("DIxPRE.xlsx",names=['Dias','Pre1','Pre2'],header=None)
di_ipca=pd.read_excel("DIxIPCA.xlsx",names=['Dias','PRExIPCA'],header=None)
feriados=pd.read_csv("feriados.csv")

In [161]:
base_passivo.head()

,Empresa,001 - BANCO FATOR S/A,Unnamed: 2,RENDA FIXA,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Data do Sistema:,10/05/2023
0,rfrpapeis_uni_xls,NaN,NaN,POSIÇÃO DE TÍTULOS POR PAPEL EM 20/04/2023,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Emissão:,10/05/2023,11:19:09
1,NaN,NaN,NaN,(FECHAMENTO),NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Empresa,NaN,Agência,NaN,Modalidade,Estoque,Cliente,Asset,Emissão,Código,...,Vlr.Curva,Vlr.Vencto,Vlr.IRF,Vlr.IOF,Vlr.Líquido,Vencto,Índice(%),Código ISIN,Cond. Resgate,Data Liquidez
4,001 - BANCO FATOR S/A,NaN,00027 - AGENCIA SAO PAULO,NaN,CDB DI,1000000000000065084 - 1000000,000013242 - AGORA CTVM S A,NaN,18/08/2022,CDB322G4SBZ,...,"156.368,49","156.368,49","0,00","0,00","156.368,49",19/08/2024,"113,00",NaN,N,NaN

2.limpeza do código

In [162]:
 #transf a 3 linha em cabeçalho
 base_passivo.columns = base_passivo.iloc[3]
 base_passivo.head()

3,Empresa,NaN,Agência,NaN,Modalidade,Estoque,Cliente,Asset,Emissão,Código,...,Vlr.Curva,Vlr.Vencto,Vlr.IRF,Vlr.IOF,Vlr.Líquido,Vencto,Índice(%),Código ISIN,Cond. Resgate,Data Liquidez
0,rfrpapeis_uni_xls,NaN,NaN,POSIÇÃO DE TÍTULOS POR PAPEL EM 20/04/2023,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Emissão:,10/05/2023,11:19:09
1,NaN,NaN,NaN,(FECHAMENTO),NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Empresa,NaN,Agência,NaN,Modalidade,Estoque,Cliente,Asset,Emissão,Código,...,Vlr.Curva,Vlr.Vencto,Vlr.IRF,Vlr.IOF,Vlr.Líquido,Vencto,Índice(%),Código ISIN,Cond. Resgate,Data Liquidez
4,001 - BANCO FATOR S/A,NaN,00027 - AGENCIA SAO PAULO,NaN,CDB DI,1000000000000065084 - 1000000,000013242 - AGORA CTVM S A,NaN,18/08/2022,CDB322G4SBZ,...,"156.368,49","156.368,49","0,00","0,00","156.368,49",19/08/2024,"113,00",NaN,N,NaN

In [163]:
#excluindo as4 primeiras linhas
list=[0,1,2,3]
for i in list:
    base_passivo=base_passivo.drop([i])
base_passivo.head()

3,Empresa,NaN,Agência,NaN,Modalidade,Estoque,Cliente,Asset,Emissão,Código,...,Vlr.Curva,Vlr.Vencto,Vlr.IRF,Vlr.IOF,Vlr.Líquido,Vencto,Índice(%),Código ISIN,Cond. Resgate,Data Liquidez
4,001 - BANCO FATOR S/A,NaN,00027 - AGENCIA SAO PAULO,NaN,CDB DI,1000000000000065084 - 1000000,000013242 - AGORA CTVM S A,NaN,18/08/2022,CDB322G4SBZ,...,"156.368,49","156.368,49","0,00","0,00","156.368,49",19/08/2024,"113,00",NaN,N,NaN
5,001 - BANCO FATOR S/A,NaN,00027 - AGENCIA SAO PAULO,NaN,CDB DI,1000000000000064987 - 1000000,000013242 - AGORA CTVM S A,NaN,13/07/2022,CDB3224VNOA,...,"116.865,26","116.865,26","0,00","0,00","116.865,26",13/07/2023,"109,00",NaN,N,NaN
6,001 - BANCO FATOR S/A,NaN,00027 - AGENCIA SAO PAULO,NaN,CDB DI,1000000000000065014 - 1000000,000013242 - AGORA CTVM S A,NaN,25/07/2022,CDB3227WTRO,...,"16.686,62","16.686,62","0,00","0,00","16.686,62",25/07/2024,"113,00",NaN,N,NaN
7,001 - BANCO FATOR S/A,NaN,00027 - AGENCIA SAO PAULO,NaN,CDB DI,1000000000000065025 - 1000000,000013242 - AGORA CTVM S A,NaN,28/07/2022,CDB32291OKH,...,"5.552,97","5.552,97","0,00","0,00","5.552,97",29/07/2024,"113,00",NaN,N,NaN
8,001 - BANCO FATOR S/A,NaN,00027 - AGENCIA SAO PAULO,NaN,CDB DI,1000000000000064925 - 1000000,000013242 - AGORA CTVM S A,NaN,22/06/2022,CDB222Q3A8B,...,"82.249,55","82.249,55","0,00","0,00","82.249,55",24/06/2024,"113,00",NaN,N,NaN

In [164]:
#excluindo colunas Nan
base_passivo=base_passivo.dropna(axis=1, how='all')
base_passivo.head()

3,Empresa,Agência,Modalidade,Estoque,Cliente,Emissão,Código,Taxa(%),NaN,Custódia,...,Vlr. Ida,Vlr.Curva,Vlr.Vencto,Vlr.IRF,Vlr.IOF,Vlr.Líquido,Vencto,Índice(%),Cond. Resgate,Data Liquidez
4,001 - BANCO FATOR S/A,00027 - AGENCIA SAO PAULO,CDB DI,1000000000000065084 - 1000000,000013242 - AGORA CTVM S A,18/08/2022,CDB322G4SBZ,"0,0000",SOVE,CETIP21,...,"142.000,00","156.368,49","156.368,49","0,00","0,00","156.368,49",19/08/2024,"113,00",N,NaN
5,001 - BANCO FATOR S/A,00027 - AGENCIA SAO PAULO,CDB DI,1000000000000064987 - 1000000,000013242 - AGORA CTVM S A,13/07/2022,CDB3224VNOA,"0,0000",SOVE,CETIP21,...,"105.000,00","116.865,26","116.865,26","0,00","0,00","116.865,26",13/07/2023,"109,00",N,NaN
6,001 - BANCO FATOR S/A,00027 - AGENCIA SAO PAULO,CDB DI,1000000000000065014 - 1000000,000013242 - AGORA CTVM S A,25/07/2022,CDB3227WTRO,"0,0000",SOVE,CETIP21,...,"15.000,00","16.686,62","16.686,62","0,00","0,00","16.686,62",25/07/2024,"113,00",N,NaN
7,001 - BANCO FATOR S/A,00027 - AGENCIA SAO PAULO,CDB DI,1000000000000065025 - 1000000,000013242 - AGORA CTVM S A,28/07/2022,CDB32291OKH,"0,0000",SOVE,CETIP21,...,"5.000,00","5.552,97","5.552,97","0,00","0,00","5.552,97",29/07/2024,"113,00",N,NaN
8,001 - BANCO FATOR S/A,00027 - AGENCIA SAO PAULO,CDB DI,1000000000000064925 - 1000000,000013242 - AGORA CTVM S A,22/06/2022,CDB222Q3A8B,"0,0000",SOVE,CETIP21,...,"73.000,00","82.249,55","82.249,55","0,00","0,00","82.249,55",24/06/2024,"113,00",N,NaN

In [165]:
#vendo os tipos de variáveis e se os campos estão preenchidos
base_passivo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2997 entries, 4 to 3000
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Empresa        2997 non-null   object
 1   Agência        2997 non-null   object
 2   Modalidade     2997 non-null   object
 3   Estoque        2997 non-null   object
 4   Cliente        2997 non-null   object
 5   Emissão        2997 non-null   object
 6   Código         2997 non-null   object
 7   Taxa(%)        2997 non-null   object
 8   nan            2997 non-null   object
 9   Custódia       2997 non-null   object
 10  Swap           2997 non-null   object
 11  PU             2997 non-null   object
 12  Qtde           2997 non-null   object
 13  Vlr. Ida       2997 non-null   object
 14  Vlr.Curva      2997 non-null   object
 15  Vlr.Vencto     2997 non-null   object
 16  Vlr.IRF        2997 non-null   object
 17  Vlr.IOF        2997 non-null   object
 18  Vlr.Líquido    2997 non-null   object
 19  Vencto         2997 non-null   object
 20  Índice(%)      2997 non-null   object
 21  Cond. Resgate  2997 non-null   object
 22  Data Liquidez  14 non-null     object
dtypes: object(23)
memory usage: 538.7+ KB

In [166]:
#somando nan
base_passivo.isna().sum()

3
Empresa             0
Agência             0
Modalidade          0
Estoque             0
Cliente             0
Emissão             0
Código              0
Taxa(%)             0
NaN                 0
Custódia            0
Swap                0
PU                  0
Qtde                0
Vlr. Ida            0
Vlr.Curva           0
Vlr.Vencto          0
Vlr.IRF             0
Vlr.IOF             0
Vlr.Líquido         0
Vencto              0
Índice(%)           0
Cond. Resgate       0
Data Liquidez    2983
dtype: int64

In [167]:
#substituindo nan por zero
base_passivo.fillna(0,inplace=True)

In [168]:
#vendo se tirou os NaN
base_passivo.isna().sum()

3
Empresa          0
Agência          0
Modalidade       0
Estoque          0
Cliente          0
Emissão          0
Código           0
Taxa(%)          0
NaN              0
Custódia         0
Swap             0
PU               0
Qtde             0
Vlr. Ida         0
Vlr.Curva        0
Vlr.Vencto       0
Vlr.IRF          0
Vlr.IOF          0
Vlr.Líquido      0
Vencto           0
Índice(%)        0
Cond. Resgate    0
Data Liquidez    0
dtype: int64

In [169]:
#vendo se tem linha duplicada
base_passivo.duplicated().sum()

0

In [170]:
base_passivo.head()

3,Empresa,Agência,Modalidade,Estoque,Cliente,Emissão,Código,Taxa(%),NaN,Custódia,...,Vlr. Ida,Vlr.Curva,Vlr.Vencto,Vlr.IRF,Vlr.IOF,Vlr.Líquido,Vencto,Índice(%),Cond. Resgate,Data Liquidez
4,001 - BANCO FATOR S/A,00027 - AGENCIA SAO PAULO,CDB DI,1000000000000065084 - 1000000,000013242 - AGORA CTVM S A,18/08/2022,CDB322G4SBZ,"0,0000",SOVE,CETIP21,...,"142.000,00","156.368,49","156.368,49","0,00","0,00","156.368,49",19/08/2024,"113,00",N,0
5,001 - BANCO FATOR S/A,00027 - AGENCIA SAO PAULO,CDB DI,1000000000000064987 - 1000000,000013242 - AGORA CTVM S A,13/07/2022,CDB3224VNOA,"0,0000",SOVE,CETIP21,...,"105.000,00","116.865,26","116.865,26","0,00","0,00","116.865,26",13/07/2023,"109,00",N,0
6,001 - BANCO FATOR S/A,00027 - AGENCIA SAO PAULO,CDB DI,1000000000000065014 - 1000000,000013242 - AGORA CTVM S A,25/07/2022,CDB3227WTRO,"0,0000",SOVE,CETIP21,...,"15.000,00","16.686,62","16.686,62","0,00","0,00","16.686,62",25/07/2024,"113,00",N,0
7,001 - BANCO FATOR S/A,00027 - AGENCIA SAO PAULO,CDB DI,1000000000000065025 - 1000000,000013242 - AGORA CTVM S A,28/07/2022,CDB32291OKH,"0,0000",SOVE,CETIP21,...,"5.000,00","5.552,97","5.552,97","0,00","0,00","5.552,97",29/07/2024,"113,00",N,0
8,001 - BANCO FATOR S/A,00027 - AGENCIA SAO PAULO,CDB DI,1000000000000064925 - 1000000,000013242 - AGORA CTVM S A,22/06/2022,CDB222Q3A8B,"0,0000",SOVE,CETIP21,...,"73.000,00","82.249,55","82.249,55","0,00","0,00","82.249,55",24/06/2024,"113,00",N,0

In [171]:
#exluindo colunas nada a ver
list1=['Empresa','Agência','Custódia']
#for i in list1:
base_passivo.drop(['Empresa','Agência','Custódia'],axis='columns',inplace=True)

In [172]:
base_passivo.head()

3,Modalidade,Estoque,Cliente,Emissão,Código,Taxa(%),NaN,Swap,PU,Qtde,Vlr. Ida,Vlr.Curva,Vlr.Vencto,Vlr.IRF,Vlr.IOF,Vlr.Líquido,Vencto,Índice(%),Cond. Resgate,Data Liquidez
4,CDB DI,1000000000000065084 - 1000000,000013242 - AGORA CTVM S A,18/08/2022,CDB322G4SBZ,"0,0000",SOVE,N,"1.101,186549","142,00","142.000,00","156.368,49","156.368,49","0,00","0,00","156.368,49",19/08/2024,"113,00",N,0
5,CDB DI,1000000000000064987 - 1000000,000013242 - AGORA CTVM S A,13/07/2022,CDB3224VNOA,"0,0000",SOVE,N,"1.113,002476","105,00","105.000,00","116.865,26","116.865,26","0,00","0,00","116.865,26",13/07/2023,"109,00",N,0
6,CDB DI,1000000000000065014 - 1000000,000013242 - AGORA CTVM S A,25/07/2022,CDB3227WTRO,"0,0000",SOVE,N,"1.112,441333","15,00","15.000,00","16.686,62","16.686,62","0,00","0,00","16.686,62",25/07/2024,"113,00",N,0
7,CDB DI,1000000000000065025 - 1000000,000013242 - AGORA CTVM S A,28/07/2022,CDB32291OKH,"0,0000",SOVE,N,"1.110,594000","5,00","5.000,00","5.552,97","5.552,97","0,00","0,00","5.552,97",29/07/2024,"113,00",N,0
8,CDB DI,1000000000000064925 - 1000000,000013242 - AGORA CTVM S A,22/06/2022,CDB222Q3A8B,"0,0000",SOVE,N,"1.126,706164","73,00","73.000,00","82.249,55","82.249,55","0,00","0,00","82.249,55",24/06/2024,"113,00",N,0

In [173]:
#dropando a coluna 'NaN'
base_passivo = base_passivo.drop(np.nan, axis=1)

3. Transformação de dados

In [174]:
#vendo os tipos
base_passivo.dtypes

3
Modalidade       object
Estoque          object
Cliente          object
Emissão          object
Código           object
Taxa(%)          object
Swap             object
PU               object
Qtde             object
Vlr. Ida         object
Vlr.Curva        object
Vlr.Vencto       object
Vlr.IRF          object
Vlr.IOF          object
Vlr.Líquido      object
Vencto           object
Índice(%)        object
Cond. Resgate    object
Data Liquidez    object
dtype: object

In [175]:
base_passivo.head()

3,Modalidade,Estoque,Cliente,Emissão,Código,Taxa(%),Swap,PU,Qtde,Vlr. Ida,Vlr.Curva,Vlr.Vencto,Vlr.IRF,Vlr.IOF,Vlr.Líquido,Vencto,Índice(%),Cond. Resgate,Data Liquidez
4,CDB DI,1000000000000065084 - 1000000,000013242 - AGORA CTVM S A,18/08/2022,CDB322G4SBZ,"0,0000",N,"1.101,186549","142,00","142.000,00","156.368,49","156.368,49","0,00","0,00","156.368,49",19/08/2024,"113,00",N,0
5,CDB DI,1000000000000064987 - 1000000,000013242 - AGORA CTVM S A,13/07/2022,CDB3224VNOA,"0,0000",N,"1.113,002476","105,00","105.000,00","116.865,26","116.865,26","0,00","0,00","116.865,26",13/07/2023,"109,00",N,0
6,CDB DI,1000000000000065014 - 1000000,000013242 - AGORA CTVM S A,25/07/2022,CDB3227WTRO,"0,0000",N,"1.112,441333","15,00","15.000,00","16.686,62","16.686,62","0,00","0,00","16.686,62",25/07/2024,"113,00",N,0
7,CDB DI,1000000000000065025 - 1000000,000013242 - AGORA CTVM S A,28/07/2022,CDB32291OKH,"0,0000",N,"1.110,594000","5,00","5.000,00","5.552,97","5.552,97","0,00","0,00","5.552,97",29/07/2024,"113,00",N,0
8,CDB DI,1000000000000064925 - 1000000,000013242 - AGORA CTVM S A,22/06/2022,CDB222Q3A8B,"0,0000",N,"1.126,706164","73,00","73.000,00","82.249,55","82.249,55","0,00","0,00","82.249,55",24/06/2024,"113,00",N,0

In [176]:
#trans colunas em string
list4=['Modalidade','Estoque','Cliente','Código','Swap','Cond. Resgate','Data Liquidez']
for i in list4:
    base_passivo[i] = base_passivo[i].astype(str)

In [177]:
# transf em data as colunas 'Emissão' e 'Vencto'
base_passivo['Vencto'] = pd.to_datetime(base_passivo['Vencto'], dayfirst=True)
base_passivo['Emissão'] = pd.to_datetime(base_passivo['Emissão'], dayfirst=True)

In [178]:
#converter em float as colunas
list2=['Taxa(%)','Vlr. Ida','Vlr.Curva','Vlr.Vencto','Vlr.Líquido','Índice(%)','PU','Qtde','Vlr.IRF','Vlr.IOF']
for i in list2:
    base_passivo[i]=base_passivo[i].str.replace('.','')
    base_passivo[i]=base_passivo[i].str.replace(',','.')
    #base_passivo[i]=float(base_passivo[i])
    #base_passivo[i]=float(base_passivo[i].replace(',','.').split)
    #pd.to_numeric(base_passivo[i])
    base_passivo[i] = base_passivo[i].astype(float)

C:\Users\nartilha\AppData\Local\Temp\ipykernel_26516\2020650647.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  base_passivo[i]=base_passivo[i].str.replace('.','')

In [179]:
#vendo se foram convertidos para float e datetime
base_passivo.dtypes

3
Modalidade               object
Estoque                  object
Cliente                  object
Emissão          datetime64[ns]
Código                   object
Taxa(%)                 float64
Swap                     object
PU                      float64
Qtde                    float64
Vlr. Ida                float64
Vlr.Curva               float64
Vlr.Vencto              float64
Vlr.IRF                 float64
Vlr.IOF                 float64
Vlr.Líquido             float64
Vencto           datetime64[ns]
Índice(%)               float64
Cond. Resgate            object
Data Liquidez            object
dtype: object

In [180]:
base_passivo.head()

3,Modalidade,Estoque,Cliente,Emissão,Código,Taxa(%),Swap,PU,Qtde,Vlr. Ida,Vlr.Curva,Vlr.Vencto,Vlr.IRF,Vlr.IOF,Vlr.Líquido,Vencto,Índice(%),Cond. Resgate,Data Liquidez
4,CDB DI,1000000000000065084 - 1000000,000013242 - AGORA CTVM S A,2022-08-18,CDB322G4SBZ,0.0,N,1101.186549,142.0,142000.0,156368.49,156368.49,0.0,0.0,156368.49,2024-08-19,113.0,N,0
5,CDB DI,1000000000000064987 - 1000000,000013242 - AGORA CTVM S A,2022-07-13,CDB3224VNOA,0.0,N,1113.002476,105.0,105000.0,116865.26,116865.26,0.0,0.0,116865.26,2023-07-13,109.0,N,0
6,CDB DI,1000000000000065014 - 1000000,000013242 - AGORA CTVM S A,2022-07-25,CDB3227WTRO,0.0,N,1112.441333,15.0,15000.0,16686.62,16686.62,0.0,0.0,16686.62,2024-07-25,113.0,N,0
7,CDB DI,1000000000000065025 - 1000000,000013242 - AGORA CTVM S A,2022-07-28,CDB32291OKH,0.0,N,1110.594000,5.0,5000.0,5552.97,5552.97,0.0,0.0,5552.97,2024-07-29,113.0,N,0
8,CDB DI,1000000000000064925 - 1000000,000013242 - AGORA CTVM S A,2022-06-22,CDB222Q3A8B,0.0,N,1126.706164,73.0,73000.0,82249.55,82249.55,0.0,0.0,82249.55,2024-06-24,113.0,N,0

1. Transformação de dados - DIxPRE e IPCAxDI

In [181]:
#merge entre pre di e pre ipca pelos dias
pre_ipca=pd.merge(di_pre,di_ipca,on=['Dias'])
pre_ipca

      Dias   Pre1   Pre2  PRExIPCA
0        4  13.65   0.00     13.65
1        7  13.65  11.01     13.65
2        8  13.66  12.11     13.65
3       12  13.66   9.57     13.65
4       14  13.65  11.01      9.60
..     ...    ...    ...       ...
260   9798  12.77  12.53      5.75
261   9979  12.77  12.53      5.75
262  10800  12.77  12.53      5.75
263  11715  12.77  12.53      5.75
264  13633  12.77  12.53      5.75

[265 rows x 4 columns]

In [182]:
#verificando se os tipos de variáveis tao okays
pre_ipca.dtypes

Dias          int64
Pre1        float64
Pre2        float64
PRExIPCA    float64
dtype: object

In [183]:
#coluna com a data base
pre_ipca['Data']=data_ref

In [184]:
#vamos criar uma coluna do lado com a data base+ o tanto de dias
pre_ipca['Data2']=pd.to_datetime(pre_ipca['Data'])+pd.to_timedelta(pre_ipca['Dias'].astype(np.int),'D')

C:\Users\nartilha\AppData\Local\Temp\ipykernel_26516\2784708619.py:2: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  pre_ipca['Data2']=pd.to_datetime(pre_ipca['Data'])+pd.to_timedelta(pre_ipca['Dias'].astype(np.int),'D')
C:\Users\nartilha\AppData\Local\Temp\ipykernel_26516\2784708619.py:2: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  pre_ipca['Data2']=pd.to_datetime(pre_ipca['Data'])+pd.to_timedelta(pre_ipca['Dias'].astype(np.int),'D')

In [185]:
#adicionar coluna de ipca implícito
pre_ipca['IPCA implicito']=(((1+(pre_ipca['Pre1'])/100)**(1/252)/(1+(pre_ipca['PRExIPCA'])/100)**(1/252))**(252))-1

In [186]:
#add coluna de data de ref
base_passivo['Data_ref']=data_ref

In [187]:
#tipo dessa nova coluna
base_passivo.dtypes

3
Modalidade               object
Estoque                  object
Cliente                  object
Emissão          datetime64[ns]
Código                   object
Taxa(%)                 float64
Swap                     object
PU                      float64
Qtde                    float64
Vlr. Ida                float64
Vlr.Curva               float64
Vlr.Vencto              float64
Vlr.IRF                 float64
Vlr.IOF                 float64
Vlr.Líquido             float64
Vencto           datetime64[ns]
Índice(%)               float64
Cond. Resgate            object
Data Liquidez            object
Data_ref                 object
dtype: object

In [188]:
#mudando para data
base_passivo['Data_ref'] = pd.to_datetime(base_passivo['Data_ref'], dayfirst=True)

In [189]:
#conferindo se deu certo
base_passivo.dtypes

3
Modalidade               object
Estoque                  object
Cliente                  object
Emissão          datetime64[ns]
Código                   object
Taxa(%)                 float64
Swap                     object
PU                      float64
Qtde                    float64
Vlr. Ida                float64
Vlr.Curva               float64
Vlr.Vencto              float64
Vlr.IRF                 float64
Vlr.IOF                 float64
Vlr.Líquido             float64
Vencto           datetime64[ns]
Índice(%)               float64
Cond. Resgate            object
Data Liquidez            object
Data_ref         datetime64[ns]
dtype: object

In [190]:
#vamos calcular os dias úteis entre data de ref e data de venc para isso precisaremos dos feriados
feriados

           Data
0    01/01/2001
1    26/02/2001
2    27/02/2001
3    13/04/2001
4    21/04/2001
..          ...
825  02/06/2078
826  07/09/2078
827  12/10/2078
828  02/11/2078
829  15/11/2078

[830 rows x 1 columns]

In [191]:
#transformei o df de feriados em uma lista de strings
feriadox=str(feriados['Data'])
holidays=(feriados['Data']).tolist()
print(holidays[260:290])

['12/10/2022', '02/11/2022', '15/11/2022', '25/12/2022', '01/01/2023', '20/02/2023', '21/02/2023', '07/04/2023', '21/04/2023', '01/05/2023', '08/06/2023', '07/09/2023', '12/10/2023', '02/11/2023', '15/11/2023', '25/12/2023', '01/01/2024', '12/02/2024', '13/02/2024', '29/03/2024', '21/04/2024', '01/05/2024', '30/05/2024', '07/09/2024', '12/10/2024', '02/11/2024', '15/11/2024', '25/12/2024', '01/01/2025', '03/03/2025']

In [192]:
#converter essa lista de strings em datas
lista_strings = ['01/01/2023', '01/01/2023', '01/01/2023']
lista_datas = [datetime.strptime(string, '%d/%m/%Y').date() for string in holidays]

In [193]:
#conferir
print(lista_datas[260:290])

[datetime.date(2022, 10, 12), datetime.date(2022, 11, 2), datetime.date(2022, 11, 15), datetime.date(2022, 12, 25), datetime.date(2023, 1, 1), datetime.date(2023, 2, 20), datetime.date(2023, 2, 21), datetime.date(2023, 4, 7), datetime.date(2023, 4, 21), datetime.date(2023, 5, 1), datetime.date(2023, 6, 8), datetime.date(2023, 9, 7), datetime.date(2023, 10, 12), datetime.date(2023, 11, 2), datetime.date(2023, 11, 15), datetime.date(2023, 12, 25), datetime.date(2024, 1, 1), datetime.date(2024, 2, 12), datetime.date(2024, 2, 13), datetime.date(2024, 3, 29), datetime.date(2024, 4, 21), datetime.date(2024, 5, 1), datetime.date(2024, 5, 30), datetime.date(2024, 9, 7), datetime.date(2024, 10, 12), datetime.date(2024, 11, 2), datetime.date(2024, 11, 15), datetime.date(2024, 12, 25), datetime.date(2025, 1, 1), datetime.date(2025, 3, 3)]

In [194]:
#convertendo em objetos de data do pandas
feriados10 = pd.to_datetime(lista_datas)

In [195]:
print(feriados10[260:290])

DatetimeIndex(['2022-10-12', '2022-11-02', '2022-11-15', '2022-12-25',
               '2023-01-01', '2023-02-20', '2023-02-21', '2023-04-07',
               '2023-04-21', '2023-05-01', '2023-06-08', '2023-09-07',
               '2023-10-12', '2023-11-02', '2023-11-15', '2023-12-25',
               '2024-01-01', '2024-02-12', '2024-02-13', '2024-03-29',
               '2024-04-21', '2024-05-01', '2024-05-30', '2024-09-07',
               '2024-10-12', '2024-11-02', '2024-11-15', '2024-12-25',
               '2025-01-01', '2025-03-03'],
              dtype='datetime64[ns]', freq=None)

In [196]:
def calcular_dias_uteis(data_inicio, data_fim):
    dias_uteis = 0
    data_atual = data_inicio

    while data_atual < data_fim:
        if data_atual.weekday() < 5 and data_atual not in feriados10:
            dias_uteis += 1
        data_atual += timedelta(days=1)

    return dias_uteis

base_passivo['Dias_Uteis2'] = base_passivo.apply(lambda row: calcular_dias_uteis(row['Data_ref'], row['Vencto']), axis=1)

base_passivo.head()

3,Modalidade,Estoque,Cliente,Emissão,Código,Taxa(%),Swap,PU,Qtde,Vlr. Ida,...,Vlr.Vencto,Vlr.IRF,Vlr.IOF,Vlr.Líquido,Vencto,Índice(%),Cond. Resgate,Data Liquidez,Data_ref,Dias_Uteis2
4,CDB DI,1000000000000065084 - 1000000,000013242 - AGORA CTVM S A,2022-08-18,CDB322G4SBZ,0.0,N,1101.186549,142.0,142000.0,...,156368.49,0.0,0.0,156368.49,2024-08-19,113.0,N,0,2023-04-20,333
5,CDB DI,1000000000000064987 - 1000000,000013242 - AGORA CTVM S A,2022-07-13,CDB3224VNOA,0.0,N,1113.002476,105.0,105000.0,...,116865.26,0.0,0.0,116865.26,2023-07-13,109.0,N,0,2023-04-20,57
6,CDB DI,1000000000000065014 - 1000000,000013242 - AGORA CTVM S A,2022-07-25,CDB3227WTRO,0.0,N,1112.441333,15.0,15000.0,...,16686.62,0.0,0.0,16686.62,2024-07-25,113.0,N,0,2023-04-20,316
7,CDB DI,1000000000000065025 - 1000000,000013242 - AGORA CTVM S A,2022-07-28,CDB32291OKH,0.0,N,1110.594000,5.0,5000.0,...,5552.97,0.0,0.0,5552.97,2024-07-29,113.0,N,0,2023-04-20,318
8,CDB DI,1000000000000064925 - 1000000,000013242 - AGORA CTVM S A,2022-06-22,CDB222Q3A8B,0.0,N,1126.706164,73.0,73000.0,...,82249.55,0.0,0.0,82249.55,2024-06-24,113.0,N,0,2023-04-20,293

In [197]:
base_passivo.dtypes

3
Modalidade               object
Estoque                  object
Cliente                  object
Emissão          datetime64[ns]
Código                   object
Taxa(%)                 float64
Swap                     object
PU                      float64
Qtde                    float64
Vlr. Ida                float64
Vlr.Curva               float64
Vlr.Vencto              float64
Vlr.IRF                 float64
Vlr.IOF                 float64
Vlr.Líquido             float64
Vencto           datetime64[ns]
Índice(%)               float64
Cond. Resgate            object
Data Liquidez            object
Data_ref         datetime64[ns]
Dias_Uteis2               int64
dtype: object

In [198]:
#vamos calcular a curva di
x=318
y=np.interp(x,di_pre['Pre1'],di_pre['Dias'])
print(y)

13633.0

In [199]:
x=9800
y=np.interp(x,di_pre['Dias'],di_pre['Pre1'])
print(y)

12.77

In [200]:
di_pre

      Dias   Pre1   Pre2
0        4  13.65   0.00
1        7  13.65  11.01
2        8  13.66  12.11
3       12  13.66   9.57
4       14  13.65  11.01
..     ...    ...    ...
260   9798  12.77  12.53
261   9979  12.77  12.53
262  10800  12.77  12.53
263  11715  12.77  12.53
264  13633  12.77  12.53

[265 rows x 3 columns]

In [201]:
base_passivo.head()

3,Modalidade,Estoque,Cliente,Emissão,Código,Taxa(%),Swap,PU,Qtde,Vlr. Ida,...,Vlr.Vencto,Vlr.IRF,Vlr.IOF,Vlr.Líquido,Vencto,Índice(%),Cond. Resgate,Data Liquidez,Data_ref,Dias_Uteis2
4,CDB DI,1000000000000065084 - 1000000,000013242 - AGORA CTVM S A,2022-08-18,CDB322G4SBZ,0.0,N,1101.186549,142.0,142000.0,...,156368.49,0.0,0.0,156368.49,2024-08-19,113.0,N,0,2023-04-20,333
5,CDB DI,1000000000000064987 - 1000000,000013242 - AGORA CTVM S A,2022-07-13,CDB3224VNOA,0.0,N,1113.002476,105.0,105000.0,...,116865.26,0.0,0.0,116865.26,2023-07-13,109.0,N,0,2023-04-20,57
6,CDB DI,1000000000000065014 - 1000000,000013242 - AGORA CTVM S A,2022-07-25,CDB3227WTRO,0.0,N,1112.441333,15.0,15000.0,...,16686.62,0.0,0.0,16686.62,2024-07-25,113.0,N,0,2023-04-20,316
7,CDB DI,1000000000000065025 - 1000000,000013242 - AGORA CTVM S A,2022-07-28,CDB32291OKH,0.0,N,1110.594000,5.0,5000.0,...,5552.97,0.0,0.0,5552.97,2024-07-29,113.0,N,0,2023-04-20,318
8,CDB DI,1000000000000064925 - 1000000,000013242 - AGORA CTVM S A,2022-06-22,CDB222Q3A8B,0.0,N,1126.706164,73.0,73000.0,...,82249.55,0.0,0.0,82249.55,2024-06-24,113.0,N,0,2023-04-20,293

In [202]:
base_passivo['Curva_pre_di']=np.interp(base_passivo['Dias_Uteis2'],di_pre['Dias'],di_pre['Pre1'])

In [203]:
base_passivo

3,Modalidade,Estoque,Cliente,Emissão,Código,Taxa(%),Swap,PU,Qtde,Vlr. Ida,...,Vlr.IRF,Vlr.IOF,Vlr.Líquido,Vencto,Índice(%),Cond. Resgate,Data Liquidez,Data_ref,Dias_Uteis2,Curva_pre_di
4,CDB DI,1000000000000065084 - 1000000,000013242 - AGORA CTVM S A,2022-08-18,CDB322G4SBZ,0.0,N,1101.186549,142.0,142000.00,...,0.0,0.0,156368.49,2024-08-19,113.0,N,0,2023-04-20,333,12.938000
5,CDB DI,1000000000000064987 - 1000000,000013242 - AGORA CTVM S A,2022-07-13,CDB3224VNOA,0.0,N,1113.002476,105.0,105000.00,...,0.0,0.0,116865.26,2023-07-13,109.0,N,0,2023-04-20,57,13.640000
6,CDB DI,1000000000000065014 - 1000000,000013242 - AGORA CTVM S A,2022-07-25,CDB3227WTRO,0.0,N,1112.441333,15.0,15000.00,...,0.0,0.0,16686.62,2024-07-25,113.0,N,0,2023-04-20,316,13.020000
7,CDB DI,1000000000000065025 - 1000000,000013242 - AGORA CTVM S A,2022-07-28,CDB32291OKH,0.0,N,1110.594000,5.0,5000.00,...,0.0,0.0,5552.97,2024-07-29,113.0,N,0,2023-04-20,318,13.010000
8,CDB DI,1000000000000064925 - 1000000,000013242 - AGORA CTVM S A,2022-06-22,CDB222Q3A8B,0.0,N,1126.706164,73.0,73000.00,...,0.0,0.0,82249.55,2024-06-24,113.0,N,0,2023-04-20,293,13.101538
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2996,CDB PRE,1000000000000063784 - 1000000,000036226 - XP INVESTIMENTOS CCTVM SA,2018-09-20,CDB318BEP6R,13.6,N,0.017894,10000000.0,100000.00,...,0.0,0.0,178944.50,2023-08-25,0.0,N,0,2023-04-20,88,13.630000
2997,CDB PRE,1000000000000063752 - 1000000,000036226 - XP INVESTIMENTOS CCTVM SA,2018-06-20,CDB218AH3DW,13.4,N,0.018336,739803.0,7398.03,...,0.0,0.0,13565.28,2023-05-25,0.0,N,0,2023-04-20,23,13.650000
2998,CDB PRE,1000000000000063754 - 1000000,000036226 - XP INVESTIMENTOS CCTVM SA,2018-07-23,CDB31836UPM,12.7,N,0.017604,3820000.0,38200.00,...,0.0,0.0,67246.78,2023-07-24,0.0,N,0,2023-04-20,64,13.640000
2999,CDB PRE,1000000000000064019 - 1000000,000036226 - XP INVESTIMENTOS CCTVM SA,2018-09-20,CDB318BEP6J,13.6,N,0.017894,946010.0,9460.10,...,0.0,0.0,16928.32,2023-08-25,0.0,N,0,2023-04-20,88,13.630000
3000,CDB PRE,1000000000000063774 - 1000000,000036226 - XP INVESTIMENTOS CCTVM SA,2018-06-20,CDB218AH3E1,13.4,N,0.018336,1762795.0,17627.95,...,0.0,0.0,32323.22,2023-05-25,0.0,N,0,2023-04-20,23,13.650000

Possibilidades para pegar o di da curva
-função interpolate pandas com ressample
-
-
-

In [236]:
pre_ipca.head()

   Dias   Pre1   Pre2  PRExIPCA        Data      Data2  IPCA implicito
0     4  13.65   0.00     13.65  20-04-2023 2023-04-24        0.000000
1     7  13.65  11.01     13.65  20-04-2023 2023-04-27        0.000000
2     8  13.66  12.11     13.65  20-04-2023 2023-04-28        0.000088
3    12  13.66   9.57     13.65  20-04-2023 2023-05-02        0.000088
4    14  13.65  11.01      9.60  20-04-2023 2023-05-04        0.036953

In [206]:
#converter as colunas em lista
lista_base_passivo=(base_passivo['Dias_Uteis2']).tolist()
lista_di_pre=(di_pre['Dias']).tolist()
print(len(lista_di_pre))

265

In [207]:
#add a lista di_pre

contador=0

for i in lista_base_passivo:
    if i not in lista_di_pre:
        lista_di_pre.append(i)

In [208]:
print(len(lista_di_pre))

780

In [209]:
di_pre.head(10)

   Dias   Pre1   Pre2
0     4  13.65   0.00
1     7  13.65  11.01
2     8  13.66  12.11
3    12  13.66   9.57
4    14  13.65  11.01
5    21  13.65  11.98
6    25  13.65  11.59
7    27  13.65  12.19
8    29  13.65  12.72
9    32  13.64  12.10

In [210]:
print(len(lista_base_passivo))

2997

In [211]:
x=pd.concat([base_passivo['Dias_Uteis2'],di_pre['Dias']]).drop_duplicates

In [225]:
#todos_os_dias = [x for x in range(max(di_pre['Dias']))]


#df_aux = pd.DataFrame(todos_os_dias, columns=['Dias'])

#pre_di_merge=pd.merge(df_aux, di_pre, how='left', on='Dias')

In [239]:
todos_os_dias = [x for x in range(max(pre_ipca['Dias']))]

df_aux = pd.DataFrame(todos_os_dias, columns=['Dias'])

pre_ipca_merge=pd.merge(df_aux, pre_ipca, how='left', on='Dias')

In [240]:
pre_ipca_merge

        Dias   Pre1  Pre2  PRExIPCA        Data      Data2  IPCA implicito
0          0    NaN   NaN       NaN         NaN        NaT             NaN
1          1    NaN   NaN       NaN         NaN        NaT             NaN
2          2    NaN   NaN       NaN         NaN        NaT             NaN
3          3    NaN   NaN       NaN         NaN        NaT             NaN
4          4  13.65   0.0     13.65  20-04-2023 2023-04-24             0.0
...      ...    ...   ...       ...         ...        ...             ...
13628  13628    NaN   NaN       NaN         NaN        NaT             NaN
13629  13629    NaN   NaN       NaN         NaN        NaT             NaN
13630  13630    NaN   NaN       NaN         NaN        NaT             NaN
13631  13631    NaN   NaN       NaN         NaN        NaT             NaN
13632  13632    NaN   NaN       NaN         NaN        NaT             NaN

[13633 rows x 7 columns]

In [249]:
pre_ipca_merge

        Dias   Pre1  Pre2  PRExIPCA        Data      Data2  IPCA implicito
0          0    NaN   NaN       NaN         NaN        NaT             NaN
1          1    NaN   NaN       NaN         NaN        NaT             NaN
2          2    NaN   NaN       NaN         NaN        NaT             NaN
3          3    NaN   NaN       NaN         NaN        NaT             NaN
4          4  13.65   0.0     13.65  20-04-2023 2023-04-24             0.0
...      ...    ...   ...       ...         ...        ...             ...
13628  13628    NaN   NaN       NaN         NaN        NaT             NaN
13629  13629    NaN   NaN       NaN         NaN        NaT             NaN
13630  13630    NaN   NaN       NaN         NaN        NaT             NaN
13631  13631    NaN   NaN       NaN         NaN        NaT             NaN
13632  13632    NaN   NaN       NaN         NaN        NaT             NaN

[13633 rows x 7 columns]

In [ ]:
pre_ipca_merge.drop

In [247]:
pre_ipca_2=pre_ipca_merge.interpolate(method='linear')

ValueError: Invalid fill method. Expecting pad (ffill) or backfill (bfill). Got linear

In [254]:
pre_di_merge.drop(columns=['Data','Data2'])

        Dias   Pre1  Pre2  PRExIPCA  IPCA implicito
0          0    NaN   NaN       NaN             NaN
1          1    NaN   NaN       NaN             NaN
2          2    NaN   NaN       NaN             NaN
3          3    NaN   NaN       NaN             NaN
4          4  13.65   0.0     13.65             0.0
...      ...    ...   ...       ...             ...
13628  13628    NaN   NaN       NaN             NaN
13629  13629    NaN   NaN       NaN             NaN
13630  13630    NaN   NaN       NaN             NaN
13631  13631    NaN   NaN       NaN             NaN
13632  13632    NaN   NaN       NaN             NaN

[13633 rows x 5 columns]

In [250]:
pre_di_merge

        Dias   Pre1  Pre2  PRExIPCA        Data      Data2  IPCA implicito
0          0    NaN   NaN       NaN         NaN        NaT             NaN
1          1    NaN   NaN       NaN         NaN        NaT             NaN
2          2    NaN   NaN       NaN         NaN        NaT             NaN
3          3    NaN   NaN       NaN         NaN        NaT             NaN
4          4  13.65   0.0     13.65  20-04-2023 2023-04-24             0.0
...      ...    ...   ...       ...         ...        ...             ...
13628  13628    NaN   NaN       NaN         NaN        NaT             NaN
13629  13629    NaN   NaN       NaN         NaN        NaT             NaN
13630  13630    NaN   NaN       NaN         NaN        NaT             NaN
13631  13631    NaN   NaN       NaN         NaN        NaT             NaN
13632  13632    NaN   NaN       NaN         NaN        NaT             NaN

[13633 rows x 7 columns]

In [255]:
pre_ipca_2=pre_di_merge.interpolate(method='linear')

ValueError: Invalid fill method. Expecting pad (ffill) or backfill (bfill). Got linear

In [220]:
pre_di_2

        Dias   Pre1   Pre2
0          0  13.65   0.00
1          1  13.65   0.00
2          2  13.65   0.00
3          3  13.65   0.00
4          4  13.65   0.00
...      ...    ...    ...
13628  13628  12.77  12.53
13629  13629  12.77  12.53
13630  13630  12.77  12.53
13631  13631  12.77  12.53
13632  13632  12.77  12.53

[13633 rows x 3 columns]

In [221]:
#vamos fazer o mesmo para o ipca di
di_ipca

      Dias  PRExIPCA
0        4     13.65
1        7     13.65
2        8     13.65
3       12     13.65
4       14      9.60
..     ...       ...
260   9798      5.75
261   9979      5.75
262  10800      5.75
263  11715      5.75
264  13633      5.75

[265 rows x 2 columns]

In [223]:
todos_os_dias = [x for x in range(max(di_ipca['Dias']))]


df_aux2 = pd.DataFrame(todos_os_dias, columns=['Dias'])

pre_ipca_merge=pd.merge(df_aux2, di_ipca, how='left', on='Dias')

In [224]:
pre_ipca_merge

        Dias  PRExIPCA
0          0       NaN
1          1       NaN
2          2       NaN
3          3       NaN
4          4     13.65
...      ...       ...
13628  13628       NaN
13629  13629       NaN
13630  13630       NaN
13631  13631       NaN
13632  13632       NaN

[13633 rows x 2 columns]

In [230]:
pre_ipca_2=pre_ipca_merge.interpolate(method='linear')
pre_ipca_2

        Dias  PRExIPCA
0          0       NaN
1          1       NaN
2          2       NaN
3          3       NaN
4          4     13.65
...      ...       ...
13628  13628      5.75
13629  13629      5.75
13630  13630      5.75
13631  13631      5.75
13632  13632      5.75

[13633 rows x 2 columns]

In [258]:
pre_ipca_2=pre_ipca_2.fillna(method='bfill')

In [261]:
ipca_di_3=pd.merge(pre_ipca_2,pre_di_2,on=['Dias'])

In [264]:
#calcular ipca implícito
#adicionar coluna de ipca implícito
ipca_di_3['IPCA_implicito']=(((1+(ipca_di_3['Pre1'])/100)**(1/252)/(1+(ipca_di_3['PRExIPCA'])/100)**(1/252))**(252))-1

ipca_di_3.head(20)

    Dias   PRExIPCA    Pre1       Pre2  IPCA_implicito
0      0  13.650000  13.650   0.000000        0.000000
1      1  13.650000  13.650   0.000000        0.000000
2      2  13.650000  13.650   0.000000        0.000000
3      3  13.650000  13.650   0.000000        0.000000
4      4  13.650000  13.650   0.000000        0.000000
5      5  13.650000  13.650   3.670000        0.000000
6      6  13.650000  13.650   7.340000        0.000000
7      7  13.650000  13.650  11.010000        0.000000
8      8  13.650000  13.660  12.110000        0.000088
9      9  13.650000  13.660  11.475000        0.000088
10    10  13.650000  13.660  10.840000        0.000088
11    11  13.650000  13.660  10.205000        0.000088
12    12  13.650000  13.660   9.570000        0.000088
13    13  11.625000  13.655  10.290000        0.018186
14    14   9.600000  13.650  11.010000        0.036953
15    15   8.957143  13.650  11.148571        0.043071
16    16   8.314286  13.650  11.287143        0.049261
17    17   7.671429  13.650  11.425714        0.055526
18    18   7.028571  13.650  11.564286        0.061866
19    19   6.385714  13.650  11.702857        0.068283

In [269]:
base_passivo['Dias']=base_passivo['Dias_Uteis2']

In [273]:
base_passivo.drop(columns='Dias_Uteis2',inplace=True)

In [276]:
#merge base_passivo com ipca_di_3
df=pd.merge(ipca_di_3,base_passivo,on='Dias')

In [277]:
#usa isso para aparecer tds as colunas
pd.set_option('display.max_columns', None)

In [281]:
#não tem NaN
df.isnull().sum()

Dias              0
PRExIPCA          0
Pre1              0
Pre2              0
IPCA_implicito    0
Modalidade        0
Estoque           0
Cliente           0
Emissão           0
Código            0
Taxa(%)           0
Swap              0
PU                0
Qtde              0
Vlr. Ida          0
Vlr.Curva         0
Vlr.Vencto        0
Vlr.IRF           0
Vlr.IOF           0
Vlr.Líquido       0
Vencto            0
Índice(%)         0
Cond. Resgate     0
Data Liquidez     0
Data_ref          0
Curva_pre_di      0
dtype: int64

In [285]:
#tava 13,65 tem q ser 0,1365
df['Pre1']=df['Pre1']/100

In [286]:
df

,Dias,PRExIPCA,Pre1,Pre2,IPCA_implicito,Modalidade,Estoque,Cliente,Emissão,Código,Taxa(%),Swap,PU,Qtde,Vlr. Ida,Vlr.Curva,Vlr.Vencto,Vlr.IRF,Vlr.IOF,Vlr.Líquido,Vencto,Índice(%),Cond. Resgate,Data Liquidez,Data_ref,Curva_pre_di,Valor_Nominal
0,1,13.65,0.136500,0.000000,0.000000,CDB DI,1000000000000064709 - 1000000,000013242 - AGORA CTVM S A,2022-04-22,CDB2226DBMI,0.00,N,1146.169918,122.0,122000.0,139832.73,139832.73,0.0,0.0,139832.73,2023-04-24,109.0,N,0,2023-04-20,13.650000,1.398327e+05
1,1,13.65,0.136500,0.000000,0.000000,CDB DI,1000000000000065265 - 1000000,000013242 - AGORA CTVM S A,2022-10-21,CDB422729OW,0.00,N,1067.670000,5.0,5000.0,5338.35,5338.35,0.0,0.0,5338.35,2023-04-24,104.0,N,0,2023-04-20,13.650000,5.338350e+03
2,1,13.65,0.136500,0.000000,0.000000,CDB DI,1000000000000065272 - 1000000,000013242 - AGORA CTVM S A,2022-10-24,CDB4227GMAS,0.00,N,1067.106500,100.0,100000.0,106710.65,106710.65,0.0,0.0,106710.65,2023-04-24,104.0,N,0,2023-04-20,13.650000,1.067106e+05
3,1,13.65,0.136500,0.000000,0.000000,CDB DI,1000000000000064064 - 1000000,000000007 - FXC CORRETORA DE VALORES S A,2018-05-16,CDB2186228V,0.00,N,1453.050000,2.0,2000.0,2906.10,2906.10,0.0,0.0,2906.10,2023-04-24,116.0,S,20/04/2023,2023-04-20,13.650000,2.906100e+03
4,1,13.65,0.136500,0.000000,0.000000,CDB IPCA,1000000000000064125 - 1000000,000011452 - EASYNVEST TITULO CORRETORA DE VALOR,2021-10-29,CDB4217ECPJ,4.60,N,1184.465000,12.0,12000.0,14213.58,14213.58,0.0,0.0,14213.58,2023-04-24,100.0,N,0,2023-04-20,13.650000,1.421358e+04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2992,1431,5.45,0.119937,11.753721,0.062055,CDB PRE,1000000000000061653 - 1000000,000011452 - EASYNVEST TITULO CORRETORA DE VALOR,2018-10-16,CDB4182I34I,13.10,N,1739.280260,1000.0,1000000.0,1739280.26,3499135.73,0.0,0.0,1739280.26,2029-01-02,0.0,N,0,2023-04-20,11.993721,1.847212e+06
2993,1431,5.45,0.119937,11.753721,0.062055,CDB PRE,1000000000000062051 - 1000000,000011452 - EASYNVEST TITULO CORRETORA DE VALOR,2018-11-14,CDB4186IB51,12.75,N,169.895326,10000.0,1000000.0,1698953.26,3358373.43,0.0,0.0,1698953.26,2029-01-02,0.0,N,0,2023-04-20,11.993721,1.804382e+06
2994,1431,5.45,0.119937,11.753721,0.062055,CDB PRE,1000000000000061440 - 1000000,000011452 - EASYNVEST TITULO CORRETORA DE VALOR,2018-10-02,CDB4180H1SJ,14.90,N,1876.528005,4000.0,4000000.0,7506112.02,16517588.15,0.0,0.0,7506112.02,2029-01-02,0.0,N,0,2023-04-20,11.993721,7.971905e+06
2995,1431,5.45,0.119937,11.753721,0.062055,CDB PRE,1000000000000061716 - 1000000,000011452 - EASYNVEST TITULO CORRETORA DE VALOR,2018-10-19,CDB41833MPB,12.80,N,171.617134,15000.0,1500000.0,2574257.01,5101440.93,0.0,0.0,2574257.01,2029-01-02,0.0,N,0,2023-04-20,11.993721,2.734003e+06
2996,1431,5.45,0.119937,11.753721,0.062055,CDB PRE,1000000000000061822 - 1000000,000011452 - EASYNVEST TITULO CORRETORA DE VALOR,2018-10-29,CDB41840KN4,12.80,N,1711.256810,1000.0,1000000.0,1711256.81,3391221.43,0.0,0.0,1711256.81,2029-01-02,0.0,N,0,2023-04-20,11.993721,1.817449e+06

In [292]:
df.drop(columns='Valor _Nominal',inplace=True)

In [294]:
for index, row in df.iterrows():
    if row['Modalidade']=="CDB IPCA":
        df['Valor_Nominal']=df['Vlr.Curva']*((1+df['IPCA_implicito'])**(df['Dias']/252))*(1+(df['Taxa(%)'])/100)**(df['Dias']/252)
    if row['Modalidade']=="CDB PRE":
        df['Valor_Nominal']=df['Vlr.Curva']*(1+(df['Taxa(%)'])/100)**(df['Dias']/252)
    if row['Modalidade']=="CDB DI" or row['Modalidade']=="CDB DI 1" or row['Modalidade']=="CDB DI L" or row['Modalidade']=="CDB LIQ DIARIA":
        df['Valor_Nominal']=((df['Vlr.Curva']*(1+(df['Pre1']))**(df['Dias']/252))-1)*((df['Índice(%)']/100)+1)**df['Dias']

In [296]:
print(len(df))

2997

In [297]:
df

,Dias,PRExIPCA,Pre1,Pre2,IPCA_implicito,Modalidade,Estoque,Cliente,Emissão,Código,Taxa(%),Swap,PU,Qtde,Vlr. Ida,Vlr.Curva,Vlr.Vencto,Vlr.IRF,Vlr.IOF,Vlr.Líquido,Vencto,Índice(%),Cond. Resgate,Data Liquidez,Data_ref,Curva_pre_di,Valor_Nominal
0,1,13.65,0.136500,0.000000,0.000000,CDB DI,1000000000000064709 - 1000000,000013242 - AGORA CTVM S A,2022-04-22,CDB2226DBMI,0.00,N,1146.169918,122.0,122000.0,139832.73,139832.73,0.0,0.0,139832.73,2023-04-24,109.0,N,0,2023-04-20,13.650000,1.398327e+05
1,1,13.65,0.136500,0.000000,0.000000,CDB DI,1000000000000065265 - 1000000,000013242 - AGORA CTVM S A,2022-10-21,CDB422729OW,0.00,N,1067.670000,5.0,5000.0,5338.35,5338.35,0.0,0.0,5338.35,2023-04-24,104.0,N,0,2023-04-20,13.650000,5.338350e+03
2,1,13.65,0.136500,0.000000,0.000000,CDB DI,1000000000000065272 - 1000000,000013242 - AGORA CTVM S A,2022-10-24,CDB4227GMAS,0.00,N,1067.106500,100.0,100000.0,106710.65,106710.65,0.0,0.0,106710.65,2023-04-24,104.0,N,0,2023-04-20,13.650000,1.067106e+05
3,1,13.65,0.136500,0.000000,0.000000,CDB DI,1000000000000064064 - 1000000,000000007 - FXC CORRETORA DE VALORES S A,2018-05-16,CDB2186228V,0.00,N,1453.050000,2.0,2000.0,2906.10,2906.10,0.0,0.0,2906.10,2023-04-24,116.0,S,20/04/2023,2023-04-20,13.650000,2.906100e+03
4,1,13.65,0.136500,0.000000,0.000000,CDB IPCA,1000000000000064125 - 1000000,000011452 - EASYNVEST TITULO CORRETORA DE VALOR,2021-10-29,CDB4217ECPJ,4.60,N,1184.465000,12.0,12000.0,14213.58,14213.58,0.0,0.0,14213.58,2023-04-24,100.0,N,0,2023-04-20,13.650000,1.421612e+04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2992,1431,5.45,0.119937,11.753721,0.062055,CDB PRE,1000000000000061653 - 1000000,000011452 - EASYNVEST TITULO CORRETORA DE VALOR,2018-10-16,CDB4182I34I,13.10,N,1739.280260,1000.0,1000000.0,1739280.26,3499135.73,0.0,0.0,1739280.26,2029-01-02,0.0,N,0,2023-04-20,11.993721,3.499136e+06
2993,1431,5.45,0.119937,11.753721,0.062055,CDB PRE,1000000000000062051 - 1000000,000011452 - EASYNVEST TITULO CORRETORA DE VALOR,2018-11-14,CDB4186IB51,12.75,N,169.895326,10000.0,1000000.0,1698953.26,3358373.43,0.0,0.0,1698953.26,2029-01-02,0.0,N,0,2023-04-20,11.993721,3.358373e+06
2994,1431,5.45,0.119937,11.753721,0.062055,CDB PRE,1000000000000061440 - 1000000,000011452 - EASYNVEST TITULO CORRETORA DE VALOR,2018-10-02,CDB4180H1SJ,14.90,N,1876.528005,4000.0,4000000.0,7506112.02,16517588.15,0.0,0.0,7506112.02,2029-01-02,0.0,N,0,2023-04-20,11.993721,1.651759e+07
2995,1431,5.45,0.119937,11.753721,0.062055,CDB PRE,1000000000000061716 - 1000000,000011452 - EASYNVEST TITULO CORRETORA DE VALOR,2018-10-19,CDB41833MPB,12.80,N,171.617134,15000.0,1500000.0,2574257.01,5101440.93,0.0,0.0,2574257.01,2029-01-02,0.0,N,0,2023-04-20,11.993721,5.101441e+06
2996,1431,5.45,0.119937,11.753721,0.062055,CDB PRE,1000000000000061822 - 1000000,000011452 - EASYNVEST TITULO CORRETORA DE VALOR,2018-10-29,CDB41840KN4,12.80,N,1711.256810,1000.0,1000000.0,1711256.81,3391221.43,0.0,0.0,1711256.81,2029-01-02,0.0,N,0,2023-04-20,11.993721,3.391221e+06